body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
  padding: 40px;
}

select, input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  background: #00ff99;
  border: none;
  cursor: pointer;
}
